<div class="contact-us-container">
    <h2>Contact Us</h2>
    <div class="contact-card">
        <div class="profile-img-container">
            <img src=" profile.jpg" alt="Ibrahim Samir Jibril banner" class="profile-img">
        </div>
        <div class="contact-info-container">
            <h3><i class="fas fa-user"></i> Ibrahim Samir Jibril</h3>
            <p>
                <span>
                    ITI Trainee<br>
                </span>
                <i class="fas fa-laptop-code"></i> Full Stack Web Developer<br>
                <span class="stack-abbr">
                    <i class="fas fa-database"></i> MEA|RN
                    <small>(MongoDB, Express.js, Angular | React.js, Node.js)</small>
                </span><br>
            </p>
            <p>
                <i class="fas fa-envelope"></i> Email: <a
                    href="mailto:ibrahimjibril2000@gmail.com">ibrahimjibril2000@gmail.com</a>
            </p>
        </div>
    </div>
</div>